.um-pop-body { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10; background-image: url(../../resident/img/huaxiang_bg.png); background-repeat: no-repeat; background-position: center; background-size: cover; color: #fff; }

.um-pop-mian { position: absolute; width: 460px; height: 326px; background-image: url(../img/zhineng_bg.png); background-repeat: no-repeat; background-position: center; background-size: cover; top: 50%; left: 50%; margin-top: -163px; margin-left: -230px; color: #fff; }

.um-c { display: block; position: absolute; width: 40px; height: 46px; background-image: url(../../../img/guanbi_btn.png); background-repeat: no-repeat; background-position: center; background-size: contain; top: -23px; right: -11px; }
.um-c:hover { background-image: url(../../../img/guanbi_pre.png); background-repeat: no-repeat; background-position: center; background-size: contain; }

.um-pop-tit { height: 45px; padding-top: 15px; padding-left: 44px; line-height: 45px; font-size: 25px; font-weight: 600; }

.um-pop-con { position: relative; width: 460px; height: 266px; overflow: hidden; }
.um-pop-con div { position: absolute; left: 44px; top: 25px; right: 44px; bottom: 30px; overflow: auto; }
.um-pop-con div p { font-size: 20px; padding: 10px 0; line-height: 35px; }
.um-pop-con div p.um-bp { padding: 0; }

.um-s, .um-xt { color: #00ffff; }
.um-s.norm, .um-xt.norm { color: #04f17f; }
.um-s.hei, .um-xt.hei { color: #ff69ff; }

.um-xt { font-size: 40px; font-weight: 600; vertical-align: bottom; padding: 0 10px; }
